
.navbar {
    position:fixed;
    list-style:none;
    overflow:hidden;
    padding:0;
    margin:0;
    top:0;
    background-color:rgb(45, 45, 45);
    height:50px;
    display:inline;
    float:left;
    width:100%;
}
.link {
    background-color:rgb(66, 117, 81);
    margin-right:2px;
    display:block;
    float:left;
    color:rgb(226, 226, 226);
    text-align:center;
    text-decoration:none;
    padding:14px 16px;
    transition: background-color 0.5s ease;
    border-radius: 3px 3px 3px 3px;
}
.link img {
    width:37px;
    height:37px;
}
.link:last-child {
    border-right:none;
    border-radius:0px 0px 0px 15px;
    float:right;
    padding:4px !important;
    
}
.link:nth-last-child(2) {
    border-radius:3px 3px 15px 3px;
}
.link:hover {
    background-color:rgb(39, 84, 53);
}
.active {
    background-color:rgb(87, 41, 134)
}
